{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} ToDo's {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto bg-white rounded p-6 shadow-md">
        <h1 class="text-2xl font-bold mb-4 text-center">Todo List</h1>

        <div class="flex items-center border-b border-gray-300 py-2">
            <input id="taskInput" type="text" placeholder="Enter a new task"
                class="w-full outline-none px-2 py-1 rounded-l">
            <button onclick="addTask()" class="bg-blue-500 text-white px-4 py-1 rounded">Add</button>
        </div>

        <ul id="taskList" class="mt-4">
            <!-- Tasks will be dynamically added here -->
            {% for item in items %}
            <li class="py-2 flex items-center"><input type="checkbox" class="mr-2" {% if item["done"] == true %}checked{% endif %}><span>{{ item["text"] }}</span><button onclick="removeTask(this)" class="ml-2 bg-red-500 text-white px-2 py-1 rounded">❌</button></li>
            {% endfor %}
        </ul>
    </div>
    <script>
        function addTask() {
            const taskInput = document.getElementById('taskInput');
            const taskList = document.getElementById('taskList');

            const taskText = taskInput.value;
            if (taskText.trim() !== '') {
                fetch("http://127.0.0.1:5000/add?done=false&text=" + taskText, { method: "POST" });

                const taskItem = document.createElement('li');
                taskItem.className = 'py-2 flex items-center';
                
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.className = 'mr-2';
                taskItem.appendChild(checkbox);
                
                const taskTextElement = document.createElement('span');
                taskTextElement.textContent = taskText;
                taskItem.appendChild(taskTextElement);

                const deleteButton = document.createElement('button');
                deleteButton.textContent = '❌';
                deleteButton.className = 'ml-2 bg-red-500 text-white px-2 py-1 rounded';
                deleteButton.onclick = function() {
                    taskList.removeChild(taskItem);
                };
                taskItem.appendChild(deleteButton);

                taskList.appendChild(taskItem);
                taskInput.value = '';
            }
        }
        function removeTask(param) {
            param.parentNode.remove()
        }
    </script>

{% endblock %}

