<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search for Craftmen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://kit.fontawesome.com/25c9ecd121.js" crossorigin="anonymous"></script>




    <link rel="preconnect" href="https://asset42.check24.de" />
    <link rel="preconnect" href="https://wireframe.check24.de" />
    <link rel="preconnect" href="https://assets.handwerk.check24.de" />
    <meta name="app-product" content="lsehan">
    <!-- <meta name="Language" content="de"> -->
    <meta name="Keywords" content="">
    <meta name="Publisher" content="CHECK24, München">
    <meta name="Copyright" content="CHECK24, München">
    <meta name="Page-topic" content="">
    <meta name="Robots" content="noindex,nofollow,noodp,noydir">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.check24.de/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.check24.de/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.check24.de/favicon-16x16.png">
    <link rel="mask-icon" href="https://www.check24.de/safari-pinned-tab.svg" color="#063773">
    <link rel="shortcut icon" href="https://www.check24.de/favicon.ico">
    <meta name="msapplication-TileColor" content="#063773">
    <meta name="theme-color" content="#ffffff">
    <meta name="c24-wf-version" content="2023-1-23">
    <style>
        body,
        .c24-body {
            background-color: #FAFAFA;
            margin: 0;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #575757;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
        }

        #c24-content * {
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet"
        href="https://assets.handwerk.check24.de/build/cs/consumer-desktop-journey-simplified-generated-tiling-postcode.70168368.css"
        media="screen">
    <style>
        html {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .c-WireframeContact {
            color: #575757;
            font-size: 12px;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            line-height: 14px;
            padding: 0;
        }

        .c-WireframeContact-title {
            font-weight: bold;
            font-size: 14px;
            padding-bottom: 10px;
            text-align: left;
        }

        .c-WireframeContact-phoneNumber {
            color: #575757;
            font-weight: normal;
            padding-bottom: 5px;
        }

        .c-WireframeContact-openingTime {
            padding-bottom: 20px;
        }

        .c-WireframeContact-mailInfoText {
            padding-bottom: 5px;
        }

        .c-WireframeContact-mail {
            color: #575757;
        }
    </style>
    <link rel="stylesheet" type="text/css"
        href="https://wireframe.check24.de/2023-1-23/assets/desktop/wireframe.min.css" media="screen">
    <script type="text/javascript">var CHECK24_HOST = 'www.check24.de';</script>
    <script
        type="text/javascript">window.data = window.data || {}; window.data['tracking'] = { "isGeneralTrackingEnabled": true, "isGoogleTrackingEnabled": true, "isAnalyticsCookieAllowed": true, "deviceOutput": "desktop", "deviceOs": "other", "environment": "prod_app1", "sid": "7b64d96bd7d04c749574e8f0759383a2", "gclid": null, "wpset": "google_dsl_brand_03", "cpid": "ch24_pro_go_prod_brand", "cpref": "", "siteIdentifier": "consumer_desktop_journey_web_craftsmen_service_tiling_postcode" };</script>
</head>

<body class="c24-body c24-wide c24-fluid-grid ">
    <div class="c24-blocking-layer"></div>
    <div class="c24-cookie-consent-wrapper" data-nosnippet="">
        <div class="c24-cookie-consent-notice">
            <div class="c24-cookie-consent-notice-cnt clearfix" style="margin-bottom: 20px;">
                <div class="c24-cc-logo"></div> <a class="c24-cookie-consent-functional"
                    onclick="Check24.cookieBanner.c24consent.giveConsent('f')">Nur notwendige Cookies</a>
            </div>
            <div class="c24-cookie-consent-notice-cnt">
                <div class="c24-cookie-consent-notice-text">
                    <div class="c24-cookie-consent-notice-title">Unvergleichlich lecker</div>
                    <div>
                        Mit dem Klick auf „Ja lecker” ermöglichen Sie uns Ihnen die besten Rezepte für Cookies zukommen
                        zu lassen. Mit dem Klick
                        auf „Nur notwendige Cookies” werden lediglich notwendige Cookie Rezepte angezeigt.
                    </div>
                </div>
            </div>
            <div class="c24-cookie-consent-notice-buttons clearfix"><a class="c24-cookie-consent-button"
                    onclick="Check24.cookieBanner.c24consent.giveConsent('fam')">Ja
                    lecker!</a> </div>
        </div>
        <div class="c24-cookie-consent-screen">

        </div>
        <div class="c24-strict-blocking-layer"></div>
    </div>
   





<!-- 


    <div id="c24-page-and-ads">
        <div id="c24-ads" class="clearfix">
            <div id="c24-ads-content" class="clearfix">
                <div class="c24-ad-banner" id="c24-ad-leaderboard"> </div>
                <div class="c24-ad-skyscraper" id="c24-ad-skyscraper"> </div>
            </div>
        </div>
        <div class="c24-page-container" id="c24-page-container-header">
            <div class="c24-page">
                <header>
                    <div id="c24-header" class="c24-header c24-search-slim c24-nonav">
                        <div class="c24-header-inner">
                            <div id="c24-header-top">
                                <div class="c24-header-content clearfix"> <a href="https://www.check24.de/"
                                        class="c24-logo" title="CHECK24 - Deutschlands größtes Vergleichsportal"></a>
                                    <div class="c24-customer c24-customer-user"> <a class="c24-customer-hover-wrapper"
                                            href="https://kundenbereich.check24.de/user/account.html?o=overview"> <span
                                                class="c24-customer-icon c24-customer-icon-li c24-header-hover"></span>
                                            <span class="c24-customer-hover c24-header-hover"> Julia Pelzer </span> </a>
                                        <div class="c24-customer-layer c24-header-hover-layer">
                                            <div class="c24-customer-layer-corner"></div> <a id="c24-meinkonto-anmelden"
                                                href="//kundenbereich.check24.de/user/login.html?ref=https://handwerk.check24.de/craftsmen/cs/desktop/journey/web/tiling/postcode"
                                                class="c24-button c24-meinkonto-reflink c24-meinkonto-login-link c24-uliloginlayer-login-opener"
                                                style="display:none;">Anmelden</a>
                                            <ul class="c24-customer-options">
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=overview">Mein
                                                        Konto</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=activitylist">Meine
                                                        Aktivitäten</a></li>
                                                <li><a href="https://www.check24.de/messagecenter/">Meine
                                                        Nachrichten</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=alarm">Spar
                                                        Alarm</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=cs_codes">Gutscheine
                                                        & Guthaben</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=points">CHECK24
                                                        Punkte</a></li>
                                            </ul>
                                            <ul class="c24-customer-center">
                                                <li> <a href="https://www.check24.de/versicherungscenter/">
                                                        <span>Versicherungscenter</span> <span>Ihr digitaler
                                                            Versicherungsordner - Verträge und Bedarf richtig
                                                            prüfen</span> </a> </li>
                                                <li> <a
                                                        href="https://kredit.check24.de/creditcenter/?linkedfrom=wf&openLogin=1">
                                                        <span>Kreditcenter</span> <span>Ihre aktuellen Kreditanfragen
                                                            und Kreditzusagen auf einen Blick</span> </a> </li>
                                                <li> <a href="https://www.check24.de/geldanlagecenter/">
                                                        <span>Geldanlagecenter</span> <span>Ihr Zugang zu den besten
                                                            Tages- und Festgeld-Zinsen in Europa</span> </a> </li>
                                                <li> <a href="https://homecenter.check24.de/">
                                                        <span>Haushaltscenter</span> <span>Ihre Wechselfristen für
                                                            Energie- und Internet-Verträge nutzen und erneut
                                                            sparen</span> </a> </li>
                                                <li> <a href="https://kundenbereich.check24.de/?o=travels">
                                                        <span>Reisecenter</span> <span>Ihre Reisebuchungen in
                                                            der<br>Übersicht bequem verwalten</span> </a> </li>
                                                <li> <a href="https://community.check24.de/"> <span>Reise
                                                            Community</span> <span>Fragen stellen, Tipps erhalten,
                                                            Erlebnisse teilen, Chats mit Reisenden vor Ort</span> </a>
                                                </li>
                                            </ul>
                                            <div class="c24-customer-check"> <a
                                                    href="//kundenbereich.check24.de/user/logout.html?ref=https://handwerk.check24.de/craftsmen/cs/desktop/journey/web/tiling/postcode"
                                                    title="Abmelden">Abmelden</a> </div>
                                        </div>
                                    </div>
                                    <div class="c24-customer-trigger" id="c24-customer-trigger">
                                        <div class="c24-customer-layer c24-header-hover-layer c24-ignore-dc-event">
                                            <div class="c24-customer-layer-corner"></div>
                                            <div class="c24-customer-trigger-close"> <svg version="1.1" x="0px" y="0px"
                                                    viewBox="0 0 357 357" xml:space="preserve">
                                                    <g>
                                                        <polygon fill="#b4b4b4"
                                                            points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5">
                                                        </polygon>
                                                    </g>
                                                </svg> </div>
                                            <div class="c24-customer-trigger-text"> </div> <a
                                                class="c24-button c24-customer-login-opener c24-uliloginlayer-login-opener">Anmelden</a>
                                            <div class="c24-customer-salutation-text"> <span>Neuer Kunde? </span> <a
                                                    class="c24-meinkonto-reflink c24-customer-register-opener c24-uliloginlayer-register-opener">Starten
                                                    Sie hier.</a> </div>
                                        </div>
                                    </div>
                                    <div class="c24-contact c24-header-hover clearfix"> <a
                                            class="c24-contact-content clearfix"
                                            href="https://www.check24.de/unternehmen/kontakt/"> <span
                                                class="c24-contact-icon"> <span class="c24-contact-icon-svg"></span>
                                            </span>
                                            <div class="c24-phone" x-ms-format-detection="none"> 030 - 220 127 917 <span
                                                    class="c24-phone-help">
                                                    Hilfe und Kontakt
                                                </span> </div>
                                        </a>
                                        <div class="c24-contact-layer c24-header-hover-layer" id="chatty-chatbot-layer">
                                            <div class="c24-contact-layer-corner"></div>
                                            <div class="c-WireframeContact">
                                                <div class="c-WireframeContact-title">Ihre pers&ouml;nliche
                                                    Expertenberatung</div>
                                                <div class="c-WireframeContact-phoneNumber">030 - 220 127 917</div>
                                                <div class="c-WireframeContact-openingTime">Mo. - Fr. 08:00 - 18:00 Uhr
                                                </div>
                                                <div class="c-WireframeContact-mailInfoText">Kontaktieren Sie uns gerne
                                                    auch per E-Mail:</div>
                                                <div class="c-WireframeContact-mail">
                                                    <a href="mailto:handwerk@check24.de">handwerk@check24.de</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c24-search-icon c24-header-hover"></div>
                                    <div class="c24-search">
                                        <div class="c24-search-corner"></div>
                                        <div class="c24-search-content">
                                            <form action="https://www.check24.de/suche/" method="get"
                                                accept-charset="utf-8" id="c24-search-form" spellcheck="false">
                                                <fieldset> <input type="text" id="c24-search-header" name="q"
                                                        class="c24-search-input"
                                                        placeholder="Was möchten Sie vergleichen?" value=""> <input
                                                        type="hidden" name="source" id="source_suggest" value="input">
                                                    <div class="c24-search-button"> <svg version="1.1" x="0px" y="0px"
                                                            viewBox="0 0 87.1 100">
                                                            <path fill="#333333" d="M64.8,14.1C52.6-1.7,29.9-4.6,14.1,7.5S-4.6,42.4,7.5,58.2c11,14.2,30.3,17.9,45.6,9.9L77,99
            c0.9,1.2,2.6,1.4,3.6,0.5l5.5-4.2c1.2-0.9,1.4-2.6,0.5-3.6L62.8,60.8C74.5,48,75.8,28.2,64.8,14.1z M52.9,57.8
            c-11.9,9.2-29.1,7-38.3-5c-9.3-11.9-7-29.1,5-38.3c11.9-9.3,29.1-7,38.3,5C67.1,31.4,64.8,48.5,52.9,57.8z">
                                                            </path>
                                                        </svg> </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>

 -->


 <script>
    Check24.cookieBanner.init();
</script>









    <div class="bg-white max-w-screen-md md:shadow-md mx-auto rounded-md">
        <nav class="justify-between max-w-screen-md flex flex-wrap md:rounded-md md:mt-8">
            <h1 class="font-extrabold text-3xl p-4 pl-8 pr-8 m-auto sm:m-0">Search for Craftmen</h1>
            <ul class="flex space-x-4 p-4 pr-8 self-center sm:m-0 m-auto">
                <a href="{{ url_for('auth.search') }}">
                </a>
            </ul>
        </nav>
        <section class="max-w-screen-md mx-auto pt-8 pb-8">
            {% for message in get_flashed_messages() %}
            <div class="text-center">{{ message }}</div>
            {% endfor %} {% block content %}{% endblock %}
        </section>
    </div>

    
</body>


<footer>
    <div class="c24-page-container" id="c24-page-container-footer">
        <div class="c24-page">
            <footer class="c24-footer c24-footer-slim ">
                <div id="c24-footer">
                    <div class="c24-footer-bottom">
                        <div class="c24-footer-content clearfix">
                            <div class="c24-footer-bottom-links">
                                <ul>
                                    <li class="c24-footer-slim-item c24-footer-link-contact"><a
                                            href="https://www.check24.de/unternehmen/kontakt/"
                                            title="Kontakt">Kontakt</a></li>
                                    <li><a class="c24-footer-link-conditions" href="//profis.check24.de/agb"
                                            title="Unsere AGB">Unsere AGB</a></li>
                                    <li><a class="c24-footer-link-privacy" href="//profis.check24.de/datenschutz"
                                            title="Datenschutz">Datenschutz</a></li>
                                    <li><a class="c24-footer-link-imprint"
                                            href="https://www.check24.de/unternehmen/impressum/#comp27"
                                            title="Impressum">Impressum</a></li>
                                </ul>
                            </div>
                            <div class="c24-footer-copyright"> <span>© 2023 CHECK24 Vergleichsportal Profis
                                    GmbH.</span> <span>Alle Inhalte unterliegen unserem Copyright.</span> </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</footer>