<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <title>Search for Craftmen | CHECK25 Profis
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://kit.fontawesome.com/25c9ecd121.js" crossorigin="anonymous"></script>
  <style>
    .decisionbox {
      background-color: white;
      color: rgb(82, 84, 87);
      border-radius: 5px;
      margin: 20px;
      padding: 20px;
    }
  </style>
  <style>
    .provider {
      background-color: white;
      color: #063773;
      border: 2px solid #063773;
      border-radius: 15px;
      margin: 20px;
      padding: 20px;
    }
  </style>
  <style>
    .checked {
      color: orange;
    }
  </style>
  <meta name="Language" content="de">
</head>

<body class="md:bg-gray-50">
  <header>
    <div class="bg-blue-950 max-w-screen-md mx-auto">
      <h1 class="font-extrabold text-white text-3xl p-4 pl-8 pr-8 m-auto sm:m-0">
        Search for Craftmen by Check25
      </h1>
    </div>
  </header>
  <div class="bg-white max-w-screen-md md:shadow-md mx-auto rounded-md">
    <nav class="justify-between max-w-screen-md flex flex-wrap md:rounded-md md:mt-8">
      <ul class="flex space-x-4 p-4 pr-8 self-center sm:m-0 m-auto">
        <a href="{{ url_for('auth.search') }}">
        </a>
      </ul>
    </nav>
    <section class="max-w-screen-md mx-auto">
      {% for message in get_flashed_messages() %}
      <div class="text-center">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </section>
  </div>
</body>