<!DOCTYPE html>
<html lang="de" id="c24-html"><!-- aHR0cHM6Ly9qb2JzLmNoZWNrMjQuZGU= -->

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://asset42.check24.de" />
    <link rel="preconnect" href="https://wireframe.check24.de" />
    <link rel="preconnect" href="https://assets.handwerk.check24.de" />
    <meta name="app-product" content="lsehan">
    <meta name="viewport" content="width=1026, user-scalable=1">
    <title>Search for Craftmen</title>
    <meta name="viewport" content="width=device-width">
    <meta name="Language" content="de">
    <meta name="Description"
        content="In weniger als 24 Stunden passende Angebote von qualifizierten und professionellen Dienstleistern in Ihrer N&auml;he. Kostenlose Anfrage erstellen. Passende Angebote bekommen. Bevorzugten Profi ausw&auml;hlen."
        lang="de">
    <meta name="Keywords" content="">
    <meta name="Publisher" content="CHECK25, München">
    <meta name="Copyright" content="CHECK25, München">
    <meta name="Page-topic" content="">
    <meta name="Robots" content="noindex,nofollow,noodp,noydir">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.check24.de/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.check24.de/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.check24.de/favicon-16x16.png">
    <link rel="mask-icon" href="https://www.check24.de/safari-pinned-tab.svg" color="#063773">
    <link rel="shortcut icon" href="https://www.check24.de/favicon.ico">
    <meta name="msapplication-TileColor" content="#063773">
    <meta name="theme-color" content="#ffffff">
    <meta name="c24-wf-version" content="2023-1-23">
    <style>
        body,
        .c24-body {
            background-color: #FAFAFA;
            margin: 0;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #575757;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
        }

        #c24-content * {
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet"
        href="https://assets.handwerk.check24.de/build/cs/consumer-desktop-journey-simplified-generated-tiling-postcode.70168368.css"
        media="screen">
    <style>
        html {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .c-WireframeContact {
            color: #575757;
            font-size: 12px;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            line-height: 14px;
            padding: 0;
        }

        .c-WireframeContact-title {
            font-weight: bold;
            font-size: 14px;
            padding-bottom: 10px;
            text-align: left;
        }

        .c-WireframeContact-phoneNumber {
            color: #575757;
            font-weight: normal;
            padding-bottom: 5px;
        }

        .c-WireframeContact-openingTime {
            padding-bottom: 20px;
        }

        .c-WireframeContact-mailInfoText {
            padding-bottom: 5px;
        }

        .c-WireframeContact-mail {
            color: #575757;
        }
    </style>
    <link rel="stylesheet" type="text/css"
        href="https://wireframe.check24.de/2023-1-23/assets/desktop/wireframe.min.css" media="screen">
    <script type="text/javascript">var CHECK24_HOST = 'www.check24.de';</script>
    <script
        type="text/javascript">window.data = window.data || {}; window.data['tracking'] = { "isGeneralTrackingEnabled": true, "isGoogleTrackingEnabled": true, "isAnalyticsCookieAllowed": true, "deviceOutput": "desktop", "deviceOs": "other", "environment": "prod_app1", "sid": "7b64d96bd7d04c749574e8f0759383a2", "gclid": null, "wpset": "google_dsl_brand_03", "cpid": "ch24_pro_go_prod_brand", "cpref": "", "siteIdentifier": "consumer_desktop_journey_web_craftsmen_service_tiling_postcode" };</script>
</head>

<body class="c24-body c24-wide c24-fluid-grid ">
    <div class="c24-blocking-layer"></div>
    <div class="c24-cookie-consent-wrapper" data-nosnippet="">
        <div class="c24-cookie-consent-notice">
            <div class="c24-cookie-consent-notice-cnt clearfix" style="margin-bottom: 20px;">
                <div class="c24-cc-logo"></div>
                 <!-- <a class="c24-cookie-consent-functional"
                    onclick="Check24.cookieBanner.c24consent.giveConsent('f')">Nur notwendige Cookies</a> -->
            </div>
            <div class="c24-cookie-consent-notice-cnt">
                <div class="c24-cookie-consent-notice-text">
                    <div class="c24-cookie-consent-notice-title">Unvergleichlich lecker</div>
                    <div>
                        Mit dem Klick auf „Ja lecker” ermöglichen Sie uns Ihnen die besten Rezepte für Cookies zukommen
                        zu lassen. Mit dem Klick
                        auf „Nur notwendige Cookies” werden lediglich notwendige Cookie Rezepte angezeigt.
                    </div>
                </div>
            </div>
            <div class="c24-cookie-consent-notice-buttons clearfix"> 
                <!-- <a
                    class="c24-cookie-consent-button c24-cookie-consent-button-secondary"
                    onclick="Check24.cookieBanner.c24consent.showConsentScreen()">Anpassen</a>  -->
                    <a
                    class="c24-cookie-consent-button" onclick="Check24.cookieBanner.c24consent.giveConsent('fam')">Ja
                    lecker!</a> </div> 
                    <!-- <a class="c24-cookie-consent-imprint"
                href="https://www.check24.de/unternehmen/impressum/#cookies" target="_blank"
                rel="noopener noreferrer">Datenschutzerklärung</a> <a class="c24-cookie-consent-imprint"
                href="https://www.check24.de/unternehmen/impressum/" target="_blank"
                rel="noopener noreferrer">Impressum</a> -->
        </div>
        <div class="c24-cookie-consent-screen">
            <div class="c24-cookie-consent-screen-cnt clearfix" style="margin-bottom: 20px;">
                <div class="c24-cc-logo"></div> <a class="c24-cookie-consent-backlink"
                    onclick="Check24.cookieBanner.c24consent.showNoticeScreen()">« zurück</a>
            </div>
            <div class="c24-cookie-consent-screen-cnt"
                onclick="event.stopPropagation(); window.event.cancelBubble = true">
                <div class="c24-cookie-consent-screen-header">
                    <div>
                        <div class="c24-cookie-consent-screen-title">Ihre Cookie-Präferenzen verwalten</div>
                        <div style="margin-bottom: 20px;">Wählen Sie, welche Cookies Sie auf check24.de
                            akzeptieren.<br>Die Cookierichtlinie finden Sie <a class="c24-cookie-consent-cookielink"
                                href="https://www.check24.de/unternehmen/cookiehinweis/" target="_blank">hier.</a></div>
                    </div>
                </div>
                <div class="c24-cookie-consent-screen-list">
                    <div class="c24-cookie-consent-screen-list-entry">
                        <div class="c24-cookie-consent-screen-list-entry-header">
                            <div style="cursor: initial"> <input id="check24-cookie-functional" type="checkbox" checked
                                    disabled> <span></span> </div>
                            <div style="cursor: initial">Notwendig</div>
                            <div
                                onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-functional-text', 'c24-cookie-consent-functional-more-icon')">
                                <span class="c24-cookie-consent-button-more-icon"
                                    id="c24-cookie-consent-functional-more-icon"> <svg version="1.1" x="0px" y="0px"
                                        viewBox="0 0 189.5 100" xml:space="preserve">
                                        <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                    </svg> </span>
                            </div>
                        </div>
                        <div class="c24-cookie-consent-screen-list-entry-content" id="c24-cookie-functional-text">
                            Diese Cookies und andere Informationen sind für die Funktion unserer Services unbedingt
                            erforderlich. Sie garantieren, dass unser Service sicher und so wie von Ihnen gewünscht
                            funktioniert. Daher kann man sie nicht deaktivieren.<br><br> <a
                                class="c24-cookie-consent-cookielink"
                                href="https://www.check24.de/unternehmen/cookiehinweis/" target="_blank">Zur
                                Cookierichtlinie</a> </div>
                    </div>
                    <div class="c24-cookie-consent-screen-list-entry">
                        <div class="c24-cookie-consent-screen-list-entry-header">
                            <div onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-analytics')">
                                <input id="check24-cookie-analytics" type="checkbox"> <span></span>
                            </div>
                            <div onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-analytics')">
                                Analytisch</div>
                            <div
                                onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-analytics-text', 'c24-cookie-consent-analytics-more-icon')">
                                <span class="c24-cookie-consent-button-more-icon"
                                    id="c24-cookie-consent-analytics-more-icon"> <svg version="1.1" x="0px" y="0px"
                                        viewBox="0 0 189.5 100" xml:space="preserve">
                                        <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                    </svg> </span>
                            </div>
                        </div>
                        <div class="c24-cookie-consent-screen-list-entry-content" id="c24-cookie-analytics-text">
                            Wir möchten für Sie unseren Service so gut wie möglich machen. Daher verbessern wir unsere
                            Services und Ihr Nutzungserlebnis stetig. Um dies zu tun, möchten wir die Nutzung des
                            Services analysieren und in statistischer Form auswerten.<br><br> <a
                                class="c24-cookie-consent-cookielink"
                                href="https://www.check24.de/unternehmen/cookiehinweis/" target="_blank">Zur
                                Cookierichtlinie</a> </div>
                    </div>
                    <div class="c24-cookie-consent-screen-list-entry">
                        <div class="c24-cookie-consent-screen-list-entry-header">
                            <div onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing')">
                                <input id="check24-cookie-marketing" type="checkbox"> <span></span>
                            </div>
                            <div onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing')">
                                Marketing</div>
                            <div
                                onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-marketing-text', 'c24-cookie-consent-marketing-more-icon')">
                                <span class="c24-cookie-consent-button-more-icon"
                                    id="c24-cookie-consent-marketing-more-icon"> <svg version="1.1" x="0px" y="0px"
                                        viewBox="0 0 189.5 100" xml:space="preserve">
                                        <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                    </svg> </span>
                            </div>
                        </div>
                        <div class="c24-cookie-consent-screen-list-entry-content" id="c24-cookie-marketing-text">
                            Um Ihnen unser Angebot kostenfrei anbieten zu können, finanzieren wir uns u.a. durch
                            Werbeeinblendungen und richten werbliche und nicht-werbliche Inhalte auf Ihre Interessen
                            aus. Dafür arbeiten wir mit ausgewählten Partnern zusammen. Ihre Einstellungen können Sie
                            jederzeit mit Klick auf Datenschutz im unteren Bereich unserer Webseite anpassen.
                            Ausführlichere Informationen zu den folgenden ausgeführten Verarbeitungszwecken finden Sie
                            ebenfalls in unserer Datenschutzerklärung.
                            <div class="c24-cookie-consent-screen-list-m-title">Wir benötigen Ihre Zustimmung für die
                                folgenden Verarbeitungszwecke:</div>
                            <div class="c24-cookie-consent-screen-list-m clearfix">
                                <div class="c24-cookie-consent-screen-list-m-entry clearfix">
                                    <div class="c24-cookie-consent-screen-list-entry-header">
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-1')">
                                            <input class="c24-cookie-consent-m-toggle" id="check24-cookie-marketing-1"
                                                type="checkbox"> <span></span>
                                        </div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-1')">
                                            Informationen auf einem Gerät speichern und/oder abrufen</div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-marketing-1-text', 'c24-cookie-consent-marketing-1-more-icon')">
                                            <span class="c24-cookie-consent-button-more-icon"
                                                id="c24-cookie-consent-marketing-1-more-icon"> <svg version="1.1"
                                                    x="0px" y="0px" viewBox="0 0 189.5 100" xml:space="preserve">
                                                    <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                                </svg> </span>
                                        </div>
                                    </div>
                                    <div class="c24-cookie-consent-screen-list-entry-content"
                                        id="c24-cookie-marketing-1-text">
                                        Für die Ihnen angezeigten Verarbeitungszwecke können Cookies, Geräte-Kennungen
                                        oder andere Informationen auf Ihrem Gerät gespeichert oder abgerufen werden.
                                    </div>
                                </div>
                                <div class="c24-cookie-consent-screen-list-m-entry clearfix">
                                    <div class="c24-cookie-consent-screen-list-entry-header">
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-2')">
                                            <input class="c24-cookie-consent-m-toggle" id="check24-cookie-marketing-2"
                                                type="checkbox"> <span></span>
                                        </div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-2')">
                                            Auswahl einfacher Anzeigen</div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-marketing-2-text', 'c24-cookie-consent-marketing-2-more-icon')">
                                            <span class="c24-cookie-consent-button-more-icon"
                                                id="c24-cookie-consent-marketing-2-more-icon"> <svg version="1.1"
                                                    x="0px" y="0px" viewBox="0 0 189.5 100" xml:space="preserve">
                                                    <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                                </svg> </span>
                                        </div>
                                    </div>
                                    <div class="c24-cookie-consent-screen-list-entry-content"
                                        id="c24-cookie-marketing-2-text">
                                        Anzeigen können Ihnen basierend auf den Inhalten, die Sie ansehen, der
                                        Anwendung, die Sie verwenden oder Ihrem ungefähren Standort oder Ihrem Gerätetyp
                                        eingeblendet werden.
                                    </div>
                                </div>
                                <div class="c24-cookie-consent-screen-list-m-entry clearfix">
                                    <div class="c24-cookie-consent-screen-list-entry-header">
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-3')">
                                            <input class="c24-cookie-consent-m-toggle" id="check24-cookie-marketing-3"
                                                type="checkbox"> <span></span>
                                        </div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-3')">
                                            Ein personalisiertes Anzeigen-Profil erstellen</div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-marketing-3-text', 'c24-cookie-consent-marketing-3-more-icon')">
                                            <span class="c24-cookie-consent-button-more-icon"
                                                id="c24-cookie-consent-marketing-3-more-icon"> <svg version="1.1"
                                                    x="0px" y="0px" viewBox="0 0 189.5 100" xml:space="preserve">
                                                    <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                                </svg> </span>
                                        </div>
                                    </div>
                                    <div class="c24-cookie-consent-screen-list-entry-content"
                                        id="c24-cookie-marketing-3-text">
                                        Über Sie und Ihre Interessen kann ein Profil erstellt werden, um Ihnen für Sie
                                        relevante personalisierte Anzeigen einzublenden.
                                    </div>
                                </div>
                                <div class="c24-cookie-consent-screen-list-m-entry clearfix">
                                    <div class="c24-cookie-consent-screen-list-entry-header">
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-4')">
                                            <input class="c24-cookie-consent-m-toggle" id="check24-cookie-marketing-4"
                                                type="checkbox"> <span></span>
                                        </div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-4')">
                                            Personalisierte Anzeigen auswählen</div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-marketing-4-text', 'c24-cookie-consent-marketing-4-more-icon')">
                                            <span class="c24-cookie-consent-button-more-icon"
                                                id="c24-cookie-consent-marketing-4-more-icon"> <svg version="1.1"
                                                    x="0px" y="0px" viewBox="0 0 189.5 100" xml:space="preserve">
                                                    <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                                </svg> </span>
                                        </div>
                                    </div>
                                    <div class="c24-cookie-consent-screen-list-entry-content"
                                        id="c24-cookie-marketing-4-text">
                                        Personalisierte Anzeigen können Ihnen basierend auf einem über Sie erstellten
                                        Profil eingeblendet werden.
                                    </div>
                                </div>
                                <div class="c24-cookie-consent-screen-list-m-entry clearfix">
                                    <div class="c24-cookie-consent-screen-list-entry-header">
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-5')">
                                            <input class="c24-cookie-consent-m-toggle" id="check24-cookie-marketing-5"
                                                type="checkbox"> <span></span>
                                        </div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleCheckbox('check24-cookie-marketing-5')">
                                            Ein personalisiertes Inhalts-Profil erstellen</div>
                                        <div
                                            onclick="Check24.cookieBanner.c24consent.toggleDescriptionText('c24-cookie-marketing-5-text', 'c24-cookie-consent-marketing-5-more-icon')">
                                            <span class="c24-cookie-consent-button-more-icon"
                                                id="c24-cookie-consent-marketing-5-more-icon"> <svg version="1.1"
                                                    x="0px" y="0px" viewBox="0 0 189.5 100" xml:space="preserve">
                                                    <polygon fill="#b4b4b4" points="0,0 189.5,0 89.5,100"></polygon>
                                                </svg> </span>
                                        </div>
                                    </div>
                                    <div class="c24-cookie-consent-screen-list-entry-content"
                                        id="c24-cookie-marketing-5-text">
                                        Über Sie und Ihre Interessen kann ein Profil erstellt werden, um Ihnen für Sie
                                        relevante personalisierte Inhalte anzuzeigen.
                                    </div>
                                </div>
                            </div> <a class="c24-cookie-consent-cookielink"
                                href="https://www.check24.de/unternehmen/cookiehinweis/" target="_blank">Zur
                                Cookierichtlinie</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c24-cookie-consent-screen-buttons clearfix"> <a
                    class="c24-cookie-consent-button c24-cookie-consent-buttonlink"
                    onclick="Check24.cookieBanner.c24consent.giveMarketingConsent()">Auswahl speichern</a> <a
                    class="c24-cookie-consent-button" onclick="Check24.cookieBanner.c24consent.giveConsent('fam')">Alle
                    akzeptieren</a> </div>
        </div>
        <div class="c24-strict-blocking-layer"></div>
    </div>
    <div id="c24-page-and-ads">
        <div id="c24-ads" class="clearfix">
            <div id="c24-ads-content" class="clearfix">
                <div class="c24-ad-banner" id="c24-ad-leaderboard"> </div>
                <div class="c24-ad-skyscraper" id="c24-ad-skyscraper"> </div>
            </div>
        </div>
        <div class="c24-page-container" id="c24-page-container-header">
            <div class="c24-page">
                <header>
                    <div id="c24-header" class="c24-header c24-search-slim c24-nonav">
                        <div class="c24-header-inner">
                            <div id="c24-header-top">
                                <div class="c24-header-content clearfix"> <a href="https://www.check24.de/"
                                        class="c24-logo" title="CHECK24 - Deutschlands größtes Vergleichsportal"></a>
                                    <div class="c24-customer c24-customer-user"> <a class="c24-customer-hover-wrapper"
                                            href="https://kundenbereich.check24.de/user/account.html?o=overview"> <span
                                                class="c24-customer-icon c24-customer-icon-li c24-header-hover"></span>
                                            <span class="c24-customer-hover c24-header-hover"> Julia Pelzer </span> </a>
                                        <div class="c24-customer-layer c24-header-hover-layer">
                                            <div class="c24-customer-layer-corner"></div> <a id="c24-meinkonto-anmelden"
                                                href="//kundenbereich.check24.de/user/login.html?ref=https://handwerk.check24.de/craftsmen/cs/desktop/journey/web/tiling/postcode"
                                                class="c24-button c24-meinkonto-reflink c24-meinkonto-login-link c24-uliloginlayer-login-opener"
                                                style="display:none;">Anmelden</a>
                                            <ul class="c24-customer-options">
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=overview">Mein
                                                        Konto</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=activitylist">Meine
                                                        Aktivitäten</a></li>
                                                <li><a href="https://www.check24.de/messagecenter/">Meine
                                                        Nachrichten</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=alarm">Spar
                                                        Alarm</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=cs_codes">Gutscheine
                                                        & Guthaben</a></li>
                                                <li><a
                                                        href="https://kundenbereich.check24.de/user/account.html?o=points">CHECK24
                                                        Punkte</a></li>
                                            </ul>
                                            <ul class="c24-customer-center">
                                                <li> <a href="https://www.check24.de/versicherungscenter/">
                                                        <span>Versicherungscenter</span> <span>Ihr digitaler
                                                            Versicherungsordner - Verträge und Bedarf richtig
                                                            prüfen</span> </a> </li>
                                                <li> <a
                                                        href="https://kredit.check24.de/creditcenter/?linkedfrom=wf&openLogin=1">
                                                        <span>Kreditcenter</span> <span>Ihre aktuellen Kreditanfragen
                                                            und Kreditzusagen auf einen Blick</span> </a> </li>
                                                <li> <a href="https://www.check24.de/geldanlagecenter/">
                                                        <span>Geldanlagecenter</span> <span>Ihr Zugang zu den besten
                                                            Tages- und Festgeld-Zinsen in Europa</span> </a> </li>
                                                <li> <a href="https://homecenter.check24.de/">
                                                        <span>Haushaltscenter</span> <span>Ihre Wechselfristen für
                                                            Energie- und Internet-Verträge nutzen und erneut
                                                            sparen</span> </a> </li>
                                                <li> <a href="https://kundenbereich.check24.de/?o=travels">
                                                        <span>Reisecenter</span> <span>Ihre Reisebuchungen in
                                                            der<br>Übersicht bequem verwalten</span> </a> </li>
                                                <li> <a href="https://community.check24.de/"> <span>Reise
                                                            Community</span> <span>Fragen stellen, Tipps erhalten,
                                                            Erlebnisse teilen, Chats mit Reisenden vor Ort</span> </a>
                                                </li>
                                            </ul>
                                            <div class="c24-customer-check"> <a
                                                    href="//kundenbereich.check24.de/user/logout.html?ref=https://handwerk.check24.de/craftsmen/cs/desktop/journey/web/tiling/postcode"
                                                    title="Abmelden">Abmelden</a> </div>
                                        </div>
                                    </div>
                                    <div class="c24-customer-trigger" id="c24-customer-trigger">
                                        <div class="c24-customer-layer c24-header-hover-layer c24-ignore-dc-event">
                                            <div class="c24-customer-layer-corner"></div>
                                            <div class="c24-customer-trigger-close"> <svg version="1.1" x="0px" y="0px"
                                                    viewBox="0 0 357 357" xml:space="preserve">
                                                    <g>
                                                        <polygon fill="#b4b4b4"
                                                            points="357,35.7 321.3,0 178.5,142.8 35.7,0 0,35.7 142.8,178.5 0,321.3 35.7,357 178.5,214.2 321.3,357 357,321.3 214.2,178.5">
                                                        </polygon>
                                                    </g>
                                                </svg> </div>
                                            <div class="c24-customer-trigger-text"> </div> <a
                                                class="c24-button c24-customer-login-opener c24-uliloginlayer-login-opener">Anmelden</a>
                                            <div class="c24-customer-salutation-text"> <span>Neuer Kunde? </span> <a
                                                    class="c24-meinkonto-reflink c24-customer-register-opener c24-uliloginlayer-register-opener">Starten
                                                    Sie hier.</a> </div>
                                        </div>
                                    </div>
                                    <div class="c24-contact c24-header-hover clearfix"> <a
                                            class="c24-contact-content clearfix"
                                            href="https://www.check24.de/unternehmen/kontakt/"> <span
                                                class="c24-contact-icon"> <span class="c24-contact-icon-svg"></span>
                                            </span>
                                            <div class="c24-phone" x-ms-format-detection="none"> 030 - 220 127 917 <span
                                                    class="c24-phone-help">
                                                    Hilfe und Kontakt
                                                </span> </div>
                                        </a>
                                        <div class="c24-contact-layer c24-header-hover-layer" id="chatty-chatbot-layer">
                                            <div class="c24-contact-layer-corner"></div>
                                            <div class="c-WireframeContact">
                                                <div class="c-WireframeContact-title">Ihre pers&ouml;nliche
                                                    Expertenberatung</div>
                                                <div class="c-WireframeContact-phoneNumber">030 - 220 127 917</div>
                                                <div class="c-WireframeContact-openingTime">Mo. - Fr. 08:00 - 18:00 Uhr
                                                </div>
                                                <div class="c-WireframeContact-mailInfoText">Kontaktieren Sie uns gerne
                                                    auch per E-Mail:</div>
                                                <div class="c-WireframeContact-mail">
                                                    <a href="mailto:handwerk@check24.de">handwerk@check24.de</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c24-search-icon c24-header-hover"></div>
                                    <div class="c24-search">
                                        <div class="c24-search-corner"></div>
                                        <div class="c24-search-content">
                                            <form action="https://www.check24.de/suche/" method="get"
                                                accept-charset="utf-8" id="c24-search-form" spellcheck="false">
                                                <fieldset> <input type="text" id="c24-search-header" name="q"
                                                        class="c24-search-input"
                                                        placeholder="Was möchten Sie vergleichen?" value=""> <input
                                                        type="hidden" name="source" id="source_suggest" value="input">
                                                    <div class="c24-search-button"> <svg version="1.1" x="0px" y="0px"
                                                            viewBox="0 0 87.1 100">
                                                            <path fill="#333333" d="M64.8,14.1C52.6-1.7,29.9-4.6,14.1,7.5S-4.6,42.4,7.5,58.2c11,14.2,30.3,17.9,45.6,9.9L77,99
c0.9,1.2,2.6,1.4,3.6,0.5l5.5-4.2c1.2-0.9,1.4-2.6,0.5-3.6L62.8,60.8C74.5,48,75.8,28.2,64.8,14.1z M52.9,57.8
c-11.9,9.2-29.1,7-38.3-5c-9.3-11.9-7-29.1,5-38.3c11.9-9.3,29.1-7,38.3,5C67.1,31.4,64.8,48.5,52.9,57.8z"></path>
                                                        </svg> </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="c24-page-container" id="c24-page-container-content">
            <div id="c24-page-content" class="c24-page">
                <div id="c24-content" class="clearfix">
                    <div id="root"></div>
                </div>
            </div>
        </div>
        <div class="c24-page-container" id="c24-page-container-footer">
            <div class="c24-page">
                <footer class="c24-footer c24-footer-slim ">
                    <div id="c24-footer">
                        <div class="c24-footer-bottom">
                            <div class="c24-footer-content clearfix">
                                <div class="c24-footer-bottom-links">
                                    <ul>
                                        <li class="c24-footer-slim-item c24-footer-link-contact"><a
                                                href="https://www.check24.de/unternehmen/kontakt/"
                                                title="Kontakt">Kontakt</a></li>
                                        <li><a class="c24-footer-link-conditions" href="//profis.check24.de/agb"
                                                title="Unsere AGB">Unsere AGB</a></li>
                                        <li><a class="c24-footer-link-privacy" href="//profis.check24.de/datenschutz"
                                                title="Datenschutz">Datenschutz</a></li>
                                        <li><a class="c24-footer-link-imprint"
                                                href="https://www.check24.de/unternehmen/impressum/#comp27"
                                                title="Impressum">Impressum</a></li>
                                    </ul>
                                </div>
                                <div class="c24-footer-copyright"> <span>© 2023 CHECK24 Vergleichsportal Profis
                                        GmbH.</span> <span>Alle Inhalte unterliegen unserem Copyright.</span> </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script
        type="text/javascript">window.data = window.data || {}; window.data['sentry'] = { "dsn": "https:\/\/9ddf580aa48d444d8199bf5561fb911d@sentry.profis.check24.de\/32", "release": "20231117-152703", "environment": "prod", "allowUrls": ["https?:\\\/\\\/(.+\\.)?check24\\.de"] };</script>
    <script
        type="text/javascript">window.data = window.data || {}; window.data['pageData'] = { "title": "Fliesen verlegen", "rating": 5.0, "coverageRoute": "\/craftsmen\/api\/postcode-coverage\/craftsmen_service_tiling", "nextRoute": "\/craftsmen\/cs\/desktop\/journey\/web\/tiling\/questionnaire" };</script>
    <script
        type="text/javascript">window.data = window.data || {}; window.data['gratificationBar'] = { "isUserLoggedIn": true, "isPointsUser": true, "forceHide": false, "defaultPoints": 100, "enquiryPoints": null, "voucher": { "amountInCents": 1000, "expiresAt": "2023-12-31T00:00:00+01:00", "minimalAmountInCents": 1500 } };</script>
    <script src="https://assets.handwerk.check24.de/build/cs/runtime.3c11c72d.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/cs-vendor.a0d5a367.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/49442.e9b84662.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/58999.9127dce2.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/90845.ed40c08d.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/37313.62b47ec8.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/12453.3fd75fe3.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/10077.8106aeb8.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/81222.69fb6a46.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/14973.55f9227c.js" defer></script>
    <script src="https://assets.handwerk.check24.de/build/cs/55741.8e67b51e.js" defer></script>
    <script
        src="https://assets.handwerk.check24.de/build/cs/consumer-desktop-journey-simplified-generated-tiling-postcode.b0d7c51f.js"
        defer></script>
    <script type="text/javascript"
        src="https://wireframe.check24.de/2023-1-23/assets/desktop/wireframe.min.js"></script>
    <script>
        Check24.cookieBanner.init();
    </script>
    <script>
        Check24.uliloginlayer.config.env = "prod";
        Check24.uliloginlayer.init({
            "deviceoutput": "desktop",
            "api_product": "lsehan",
            "login_email": "Jupelzer@outlook.de", "login_phone": "+49 172 6398296", "social_login_base_url": "//kundenbereich.check24.de/",
        });

        Check24.uliloginlayer.closeAfter = function () {
            window.location.reload();
        };
    </script>
    <!-- Google Tag Manager (noscript) --><noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-MTCXBRS" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->

            <div class="bg-white max-w-screen-md md:shadow-md mx-auto rounded-md">
                <nav class="justify-between max-w-screen-md flex flex-wrap md:rounded-md md:mt-8">
                    <h1 class="font-extrabold text-3xl p-4 pl-8 pr-8 m-auto sm:m-0">Search for Craftmen</h1>
                    <ul class="flex space-x-4 p-4 pr-8 self-center sm:m-0 m-auto">
                        <a href="{{ url_for('auth.search') }}">
                        </a>
                    </ul>
                </nav>
                <section class="max-w-screen-md mx-auto pt-8 pb-8">
                    {% for message in get_flashed_messages() %}
                    <div class="text-center">{{ message }}</div>
                    {% endfor %} {% block content %}{% endblock %}
                </section>
            </div>
</body> <!-- INFO:WIREFRAME URL=, VERSION=2023-1-23 --> <!-- INFO:ENVIRONMENT=production -->
<!-- INFO:WPSET=default, PRODUCT=website --> <!-- INFO:GENERATED=2023-11-16 09:11 -->

</html>